# Exclude build output
bin/
obj/

# Exclude NuGet packages
*.nupkg
**/packages/

# Exclude user-specific files
*.suo
*.user
*.userprefs
*.vs/
.vscode/

# Exclude build and publish files
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.pgn
*.pgs
*.sbr
*.swp
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.dbmdl
*.jfm
*.msbuildlog
*.*.user
*.dbproj.*
*.dataport
*.opensdf
*.sln.docstates

# Exclude Visual Studio files
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.log
*.tlog
*.vspscc
*.vssscc
build.log
*.userprefs
